.card{
    margin:2em;
    padding-top:0;
    padding-left:0;
    padding-right:0
}

.footer{
    padding-left: 10px;
    font-size: 15px;
}

.content{
    padding-left: 40px;
    font-size: 15px;
    align-items: center;
    text-align: center;
}

.header{
    font-size: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: lightgrey;
}

.header-title {
    font-size: 30px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 15px;
}