.list {
    border: 1px solid black;
    margin: 50px;
  }
  
  .list-item {
      border-top: 1px solid grey;
  }
  
  .header {
      padding: 30px;
      text-align: center;
      color: white;
      font-size: 30px;
    }
  .description {
      
      padding-left: 60px;
      font-size: 15px;
      color: white;
  }