<div *ngIf="!error" >
    <div *ngIf="!error" class="bg-gray-500">
        <div class="flex items-center header">Poets</div>
        <div class="description">To see a list of the Poet's work, click on their name.</div>
    </div>
    <mat-nav-list class="list">
        <mat-list-item class="list-item" *ngFor="let poet of poets; let i = index">
            <a href="/author/{{poet}}">{{poet}}</a>
        </mat-list-item>
    </mat-nav-list>
</div>

<div *ngIf="error">
    Error Status: {{errorStatus}}
    <br>
    Error Reason: {{errorReason}}
</div>